body {
	background: #222;
}

.woodmark {
	position: fixed;
	bottom: 0;
	right: 0;
}

.woodmark p {
	margin: 0;
	padding: 0;
}

.tools {
	position: fixed;
	bottom: 0;
	left: 0;
}

.tools button {
	width: 250px;
	margin-bottom: 5px;
	display: block;
}

.content {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	justify-content: space-around;
}

.content .panel {
	border-radius: 10px;
	box-shadow: 0 0 10px #000;
	display: inline-block;
	padding: 10px;
	text-align: center;
	width: 520px;
}

.roster {
	width: 500px;
}

#players {
	margin: 0;
	padding: 0;
	list-style: none;
	max-height: 270px;
	overflow-y: scroll;
}

#players li {
	display: flex;
	gap: 20px;
	align-items: center;
}

#maps {
	margin: 0;
	padding: 0;
	list-style: none;
	max-height: 270px;
	overflow-y: scroll;
}

#maps li {
	display: flex;
	gap: 20px;
	text-align: left;
	margin-top: 5px;
	margin-bottom: 5px;
	background: #111;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 10px;
	position: relative;
}

.difficultytags {
	/* display: flex;
	flex-wrap: wrap;
	max-width: 400px; */
}

.difficultytag {
	display: inline-block;
	background: #ff4500;
	border-radius: 5px;
	color: #ffffff;
	padding: 3px;
	cursor: pointer;
	margin-right: 2px;
}

#currentlySelectedSong {
	margin-top: 10px;
	margin-bottom: 10px;
	background: #111;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 10px;
	text-align: left;
	display: flex;
	gap: 20px;
	align-items: center;
}

#currentlySelectedSong img {
	width: 100px;
	height: 100px;
	border-radius: 5px;
}

#currentlySelectedSong p {
	margin: 0;
}

.songname {
	font-size: 20px;
}

.diffTag {
	background: #fff;
	color: #000;
	box-sizing: border-box;
	padding: 3px;
	border-radius: 3px;
}

.devices .device {
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
	background: #111;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 10px;
	position: relative;
}

.device .statusbar {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 6px;
	background: #fff;
	border-radius: 5px 0 0 5px;
}

.statusbar-connected {
	background: #0f0 !important;
}

.statusbar-error {
	animation: blink-error 1s linear infinite;
}

@keyframes blink-error {
	0% {
		background: #ff0000;
	}
	50% {
		background: #3a0000;
	}
	100% {
		background: #ff0000;
	}
}

.previewbutton {
	padding: 5px;
	position: absolute;
	top: 2px;
	right: 2px;
}
