@font-face {
	font-family: 'Overpass';
	src: url('../fonts/Overpass-Regular.ttf');
}

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: local('Material Icons'), local('MaterialIcons-Regular'),
		url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Kanit Thicc';
	src: url(../fonts/Kanit/Kanit-BlackItalic.ttf);
}

@font-face {
	font-family: 'Kanit';
	src: url(../fonts/Kanit/Kanit-Regular.ttf);
}

@font-face {
	font-family: 'Kanit';
	src: url(../fonts/Kanit/Kanit-Italic.ttf);
	font-style: italic;
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px; /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
}

body {
	background: #000;
	color: #fff;
	user-select: none;
	outline: none;
	font-family: 'Overpass', sans-serif;
}

::selection {
	background: #ff4500;
}

input {
	caret-color: #ff4500;
	padding: 8px 4px;
	background: #111;
	border: 1px solid #000;
	outline: none;
	color: #fff;
	border-radius: 5px;
}

button {
	background: linear-gradient(
		180deg,
		rgba(51, 51, 51, 1) 0%,
		rgba(0, 0, 0, 1) 100%
	);
	border: 1px solid #000;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	padding: 8px 40px;
	font-size: 11pt;
	transition: 0.2s border;
}

button:hover {
	border: 1px solid #ff4500;
}

button:active {
	background: linear-gradient(
		0deg,
		rgba(51, 51, 51, 1) 0%,
		rgba(0, 0, 0, 1) 100%
	);
}

.center {
	text-align: center;
}

.widebutton {
	display: block;
	width: 100%;
}

.toastClass {
	opacity: 1 !important;
}

.bold {
	font-weight: bolder;
}
