video {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

#lefthalf {
	position: fixed;
	/* left: 200px;
	top: 100px; */
	top: -500px;
	left: 400px;
	transition: 0.75s linear top;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#righthalf {
	position: fixed;
	/* right: 200px;
	bottom: 100px; */
	right: 400px;
	bottom: -500px;
	transition: 0.75s linear;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
}

.playername {
	font-family: 'Kanit Thicc';
	font-size: 100px;
}
